.field {
    display: flex;
    flex-direction: column;
}

.button {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: rgb(95, 72, 227);
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.request_delete {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: rgb(250, 0, 229);
    color: rgb(255, 255, 255);
    font-size: .5 rem;
}